<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>localhost</graylogHost>
        <graylogPort>12201</graylogPort>
    </appender>

    <root level="debug">
        <appender-ref ref="GELF" />
    </root>

    <logger name="br.com.finchsolucoes.xgracco">
        <level value="INFO"/>
    </logger>

    <logger name="springfox.documentation">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate.SQL">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate.type">
        <level value="ERROR"/>
    </logger>

</configuration>